*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.hero-section,
.footer{
    background-color: #1f2937;
}
/*-----Hero-Section-----*/
.hero-section{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 10px 150px;
    margin: 0;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.hero-content{
    padding: 10px 150px 10px 150px
}
.hero-image{
    height: 200px;
    width: 400px;
}
.hero-text-1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0
}
.hero-text-2{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}
.hero-content .button-container .hero-button{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 50;
    background-color:#3882f6;
}

/*-----Gallery-Section-----*/
.gallery-section p{
    font-size: 18px;
    font-weight: 300;
}
.gallery-container img{
    height: 100px;
    width: 100px;
}
.info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/*-----Quote-Section-----*/
.quote-section{
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.author{
    font-size: 24px;
    font-weight: 900;
}

/*-----Banner-Section-----*/
.banner{
    background-color: #3882f6
}
.banner-button{
    color: #3882f6;
}
.banner-text-1{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}
.banner-text-2,
.banner-button{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 50;

}
.banner .button-container .banner-button{
    background-color:#3882f6;
}
/*-----Footer-Section-----*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px;
}
.footer-text{
    font-size: 18px;
    color: #e5e7eb;
}